<!DOCTYPE html>
<html>
    <head>
        <title>Name</title>
        <style>
            .my-font {
                font-weight: bold
            }
        </style>
    </head>
    <body>
        <ul class="my-font" th:text="${name}"></ul>
        <ul class="my-font" th:text="${#strings.substring(name, 0, 4)}"></ul>
        <ul class="my-font" th:text="${#strings.substring(name, 0, 3)}"></ul>
        <ul class="my-font" th:text="${#strings.substring(name, 0, 2)}"></ul>
        <ul class="my-font" th:text="${#strings.substring(name, 0, 1)}"></ul>
    </body>
</html>